In [6]:
CHG_PATH = "Music/Sensor_project/Senor-fault-Ineuron"

In [11]:
from from_root import from_root
import os,sys

logs_path = os.path.join(CHG_PATH,from_root)

TypeError: join() argument must be str, bytes, or os.PathLike object, not 'function'

In [9]:
logs_path

'Music/Sensor_project/Senor-fault-Ineuron\\logs'

In [29]:
path = "\home"
CHG_PATH = "C:\\Users\\signi\\Music\\Sensor_project\\Senor-fault-Ineuron\\sensor"
 
# Join various path components
print(os.path.join(path, "User\Public", "Documents", ""))

\home\User\Public\Documents\

In [1]:
import numpy as np
import pandas as pd

from sensor.configuration.mongo_db_connection import MongoDBClient
from sensor.constant.database import COLLECTION_NAME, DATABASE_NAME
from sensor.exception import SensorException
database_name=DATABASE_NAME
collection_name = COLLECTION_NAME

In [2]:
mongo_client = MongoDBClient(database_name=DATABASE_NAME)
# collection = mongo_client[database_name][collection_name]

In [3]:
collection = mongo_client.database[collection_name]

In [4]:
df = pd.DataFrame(list(collection.find()))

In [5]:
df.head()

,_id,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,63626ba1aea9f7970b3ddc0a,neg,76698,na,2130706438,280,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,63626ba1aea9f7970b3ddc0b,neg,33058,na,0,na,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,63626ba1aea9f7970b3ddc0c,neg,41040,na,228,100,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,63626ba1aea9f7970b3ddc0d,neg,12,0,70,66,0,10,0,0,...,240,46,58,44,10,0,0,0,4,32
4,63626ba1aea9f7970b3ddc0e,neg,60874,na,1368,458,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [ ]:
PATH = "C:\\Users\\signi\\Music\\Sensor_project\\Senor-fault-Ineuron"

os.path.join

In [20]:
import logging
import os
from datetime import datetime

from from_root import from_root

LOG_FILE = f"{datetime.now().strftime('%m_%d_%Y_%H_%M_%S')}.log"
# PATH = "C:\\Users\\signi\\Music\\Sensor_project\\Senor-fault-Ineuron"

logs_path = os.path.join(from_root(), "logs", LOG_FILE)

# os.makedirs(logs_path, exist_ok=True)

In [21]:
print(logs_path)

C:\Users\signi\logs\11_02_2022_22_11_13.log

In [19]:
import os
 
# Path
# path = "C:\home"
path = from_root()
print(path)
 
# Join various path components
# print(os.path.join(path, "User\Desktop", "file.txt"))
 
 
# # Path
# path = "User/Documents"
 
# # Join various path components
# print(os.path.join(path, "/home", "file.txt"))

C:\Users\signi

In [23]:
path = os.path.join(from_root(),"Music\\Sensor_project\\Senor-fault-Ineuron")
print(path)

C:\Users\signi\Music\Sensor_project\Senor-fault-Ineuron

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("C:\\Users\\signi\\Music\\Sensor_project\\dataset\\aps_failure_training_set.csv")

C:\Users\signi\AppData\Local\Temp\ipykernel_29572\4292332424.py:1: DtypeWarning: Columns (7,8,9,10,11,12,13,14,15,16,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,100,101,102,103,104,105,106,107,108,109,114,115,116,117,118,119,120,121,122,123,159,160,161,162,163,164,165,166,167,168) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("C:\\Users\\signi\\Music\\Sensor_project\\dataset\\aps_failure_training_set.csv")

In [4]:
data.groupby(['class']).count()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
class,,,,,,,,,,,,,,,,,,,,,
neg,15000,15000,15000,15000,15000,15000,15000,15000,15000,15000,...,15000,15000,15000,15000,15000,15000,15000,15000,15000,15000
pos,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,...,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000

In [5]:
from scipy.stats import ks_2samp
import pandas as pd
import os,sys

In [8]:
from sensor.logger

ModuleNotFoundError: No module named 'sensor.utils'

In [12]:
from sensor.utils.main_utils import read_yaml_file

ModuleNotFoundError: No module named 'sensor.utils'

In [6]:
def get_drift_report(base_df,current_df,threshold=0.05):
        report={}
        for column in base_df.columns:
            d1 = base_df[column]
            d2 = current_df[column]
            is_same_dist = ks_2samp(d1,d2)
            if threshold <= is_same_dist.pvalue:
                is_found=False
            else:
                is_found=True
            report.update({column:{
                "p_value":float(is_same_dist.pvalue),
                "drift_status":is_found

            }})
        return report

In [16]:
from sensor.components.data_ingestion import DataIngestion

In [24]:
from sensor.utils.main_utils import read_yaml_file,write_yaml_file

In [1]:
from sensor.ml.model.estimator import TargetValueMapping
TargetValueMapping().to_dict()

{'neg': 0, 'pos': 1}

In [2]:
TargetValueMapping().reverse_mapping()

{0: 'neg', 1: 'pos'}

In [ ]:
from sensor.entity.config_entity import TrainingPipelineConfig,DataIngestionConfig,DataValidationConfig,DataValidationConfig

In [43]:
from sensor.entity.config_entity import TrainingPipelineConfig,DataIngestionConfig,DataValidationConfig

In [62]:
from sensor.entity.config_entity import DataTransformationConfig

ImportError: cannot import name 'DataTransformationConfig' from 'sensor.entity.config_entity' (c:\Users\signi\Music\Sensor_project\Senor-fault-Ineuron\sensor\entity\config_entity.py)

In [69]:
from sensor.entity.config_entity import DataIngestionConfig